# local LLM model from ollama
OLLAMA_MODEL=qwen2.5:1.5b

# 模型配置 model specs associated with local LLM model above
MODEL_DIR=resources/models
MODEL_FILENAME=model.onnx
TOKENIZER_NAME=tokenizer.json
MODEL_DIM=384

# 数据库配置 database config
DB_DIR=.
DB_NAME=sift_local.db

# Ollama 配置 Ollama config
OLLAMA_URL=http://localhost:11434

